<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @feed.name %>
</p>

<p>
  <b>Resolved:</b>
  <%= @feed.resolved %>
</p>

<p>
  <b>User:</b>
  <%= @feed.user %>
</p>


<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
