<h1>Components</h1>

<%= link_to 'New Component', new_component_path, class: 'button small' %>

<% @components.each do |component| %>
  <h2>
    <%= component.name %>
    <small>
      <%= link_to 'Edit', edit_component_path(component) %>
    </small>
  </h2>

  <% Component::STATUSES.each do |name, code| %>
    <label>
      <%= radio_button_tag "component_#{component.id}", code, component.status == code, class: 'component_status', 'data-component-id' => component.id %>
      <span><%= name %></span>
    </label>
  <% end %>
<% end %>
