extends layout
block content
  .container
    .well
      | Your dashboard link is at
      a(href="#{host}/dashboard/#{user.p('dashboard_udid')}")  #{host}/dashboard/#{user.p('dashboard_udid')}
  .container
    .row
      for feed in feeds
        .span4
          h2= feed.p('name')
          form(method='POST',action='/feeds/#{feed.id}').form-horizontal
            div.status-description
              textarea(name='body',rows=3,placeholder='Message (e.g. We are investigating problems with DNS)')
            div.status-buttons
              button.btn.btn-success(name='status',value='resolved',type='submit') Resolve
              button.btn.btn-danger(name='status',value='error',type='submit') Escalate
          .messages
            ol.unstyled
              for message in feed.messages
                li
                  if message.p('resolved')
                    .label.label-success
                      i.icon-ok.icon-white
                  else
                    .label.label-important
                      i.icon-warning-sign
                  = message.p('body')
                  span.muted
                    |  (
                    time.muted(datetime=new Date(message.p('created_at')).toISOString())
                    | )

      .span4
        form(method='POST',action='/feeds')
          label New Project
          input(type='text',name='name',placeholder='New feed',required)
          button.btn.btn-success(name='create',value='create',type='submit') Create
