<!DOCTYPE html>
<html ng-app='statusus'>
<head>
  <title>Statusus</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="user_header">
  <% if current_user %>
    Logged in as <strong><%= current_user.name %></strong>.
    <%# link_to "Components", components_path %>
    <%= link_to "Manage", manage_path %>
    <%= link_to "Public Page", root_url(host: [current_user.subdomain, request.host].join('.')) if current_user.subdomain? %>
    <% if current_user.guest? %>
      <%= link_to "Become a member", signup_path %>
    <% else %>
      <%= link_to "Profile", edit_user_path(current_user) %>
    <% end %>
    <%= link_to "Log Out", logout_path %>
  <% else %>
    <%= link_to "Log In", login_path %>
    <p><%= button_to "Try it for free!", users_path, method: :post %></p>
  <% end %>
</div>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, id: "flash_#{name}" %>
<% end %>

<%= yield %>

</body>
<%= javascript_include_tag "application" %>
</html>
